PUT /v1/project-quotas/{uuid:934987cc-eecc-4c81-b9c2-af056d1a67d4}
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_token_v3:["user"]|
Content-Type: application/json

{
  "project_quotas": {
    "secrets": 50,
    "orders": 10,
    "containers": 20
  }
}