GET /v1/secrets?offset=1&limit=2&sort=created&name=x&alg=x&mode=x&bits=0&acl_only=false&created=lt:2020-02-01T00:00:00&updated=lt:2020-02-01T00:00:00&expiration=lt:2020-02-01T00:00:00
Accept: application/json
X-Auth-Token: CALL_EXTERNAL|syntribos.extensions.identity.client:get_token_v3:["user"]|